<div id="page" style="width:100%">
  <div id="content" style="margin:0px auto;width:720px;text-align:center">
    <img src="/images/thatapp.png" alt="that app" />
    <div style="margin:0px auto">Coming soon!</div>
    <%= form_for(@subscriber) do |f| %>
      <%= f.label :email, "Register now to stay in the loop (we promise, absolutely no spam)" %>
      <div class="input-append">
      <%= f.email_field :email, placeholder: "your@email.com", class: "input-large" %> 
      <%= f.submit "Keep me updated!", class: "btn btn-large btn-danger", style:"margin-right:10px !important;margin-top:-4px" %>
      </div>
      <%= f.hidden_field :os %>
      <%= f.hidden_field :browser %>    
    <% end %>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
  </div>
</div>
<script>$(document).ready(function() {
  $("#subscriber_os").val(BrowserDetect.OS);
  $("#subscriber_browser").val(BrowserDetect.browser);
});</script>
