<div id="page" style="width:100%">
  <div id="splash_content">
    <div id="splash_logo" ></div>
    <div id="splash_faces" ></div>
    <div id="splash_tagline" ></div>
    <div id="splash_form">
    <%= form_for(@subscriber) do |f| %>
      <%= f.label :email, "Register now to for updates and early access (we promise, absolutely no spam)" %>
      <div class="input-append">
      <%= f.email_field :email, placeholder: "your@email.com", class: "input-large" %> 
      <%= f.submit "Keep me updated!", class: "btn btn-large btn-danger", style:"margin-right:10px !important;margin-top:-4px" %>
      </div>
      <%= f.hidden_field :os %>
      <%= f.hidden_field :browser %>    
    <% end %>
    
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    </div>
  </div>
</div>
<script>$(document).ready(function() {
  $("#subscriber_os").val(BrowserDetect.OS);
  $("#subscriber_browser").val(BrowserDetect.browser);
});</script>
